$bg-color: #a36e49;

// @font-face {
//    font-family: 'Billy Forges';
//    src: url('../fonts/Billyforges\ Vintage.ttf');
// }

body {
  margin: 0;
  padding: 0;
}

.z-logo {
  width:500px;
  position:fixed;
  top:20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.z-header-spacer {
   height: 50px;
}

.z-content-container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.transition-wrapper {
   .transition-item {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
   }
}

.z-desktop-landing-page {
   transition: transform 0.5s, opacity 0.5s;

   &.transition-appear {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
   }

   &.transition-appear.transition-appear-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
   &.transition-leave {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }

   &.transition-leave.transition-leave-active {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
   }
}

.z-game-board {
   transition: transform 0.5s, opacity 0.5s;

   &.transition-appear {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
   }

   &.transition-appear.transition-appear-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
   &.transition-leave {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }

   &.transition-leave.transition-leave-active {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
   }
}

.z-desktop-landing-code {
  position: fixed;
  top:230px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  width: 475px;
  border-radius: 5px;
  -webkit-box-shadow: 8px 10px 23px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 10px 23px -12px rgba(0,0,0,0.75);
  box-shadow: 8px 10px 23px -12px rgba(0,0,0,0.75);

   p {
      line-height: 45px;
      margin: auto;
      font-size: 25px;
      text-align: center;
   }
}

.z-desktop-landing-players-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  top: 300px;
  width: 100%;
   
   img { // wanted signs
    width: 250px;
    height:326.275px;
   }
}

.z-user-canvas {
  position: fixed;
  top:120px;
  border-radius: 5px;
  -webkit-box-shadow: 8px 10px 23px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 10px 23px -12px rgba(0,0,0,0.75);
  box-shadow: 8px 10px 23px -12px rgba(0,0,0,0.75);
  
}

.z-canvas-left {
  margin-left:-300px;

}

.z-desktop-landing-players-name {
   background-color: white;
   text-align: center;
   border-radius: 3px;
   position: fixed;
   top:550px;
   width: auto;
   padding: 0 10px;
   margin-left: 50px;

   p {
      font-size: 20px;
      line-height: 0px;
   }
}