// color scheme
$purple: #38115a;
$darkblue: #1e3c6a;
$lightblue: #5ba2cd;
$green: #b2d235;

html {
  height: 100%;
}
body {
  font-size: 1.5em;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: $darkblue; //fallback
  background-image: linear-gradient($darkblue, $lightblue);
  font-family: 'Love Ya Like A Sister', cursive;
}

.splatter {
  height: 100%;
  background-image: url(../img/splatter.png);
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 500px;

}

.transition-wrapper {
   .transition-item {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
   }
}
