.z-mobile-landing-header-spacer {
   height: 50px;
}

.z-mobile-landing-failure {
   background: red;
}

$char-w: 1ch;
$gap: .5*$char-w;
$n-char: 6;
$in-w: $n-char*($char-w + $gap);

.z-mobile-landing-page {
   transition: transform 0.5s, opacity 0.5s;
   height: 100%;
   width: 100%;

   input.z-mobile-landing-form-code {
       
    border: none;
      padding: 0;
      width: $in-w;
      background: repeating-linear-gradient(90deg, 
         white 0, white $char-w, 
         transparent 0, transparent $char-w + $gap) 
         0 100%/ #{$in-w - $gap} 2px no-repeat;
      font: 5ch droid sans mono, consolas, monospace;
      letter-spacing: $gap;
      font-size: 55px;
      text-transform: uppercase;
      
      &:focus {
         outline: none;
         color: white;
      }
   }

   .z-mobile-landing-form input:first-of-type {
      width: 300px;
      border: 3px solid;
      font-size: 1.25em;
      padding: 2% 0;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Love Ya Like A Sister', cursive;
      letter-spacing: 5px;
      background-color: #FFFFFF;
      border-radius: 5px;
      -webkit-box-shadow: 8px 10px 23px -12px rgba(0,0,0,0.75);
      -moz-box-shadow: 8px 10px 23px -12px rgba(0,0,0,0.75);
      box-shadow: 8px 10px 23px -12px rgba(0,0,0,0.75);
  
   }

   &.transition-appear {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
   }

   &.transition-appear.transition-appear-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
   &.transition-leave {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }

   &.transition-leave.transition-leave-active {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
   }
}

.z-mobile-controller-page {
   transition: transform 0.5s, opacity 0.5s;
   height: 100%;
   width: 100%;

   &.transition-appear {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
   }

   &.transition-appear.transition-appear-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
   &.transition-leave {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }

   &.transition-leave.transition-leave-active {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
   }
}

.z-mobile-controller {
   display: flex;
   flex-direction: row;
}

.z-mobile-controller-player {
   height: 100%;
   width: 35%;
}

.z-mobile-controller-controller {
   height: 100%;
   width: 65%;
}

.z-mobile-dpad {
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.z-mobile-dpad-col {
   display: flex;
   flex-direction: column;
   justify-content: center;

   .z-mobile-dpad-right {
       transform: rotate(90deg);
   }
   
   .z-mobile-dpad-left {
       transform: rotate(-90deg);
   }
   .z-mobile-dpad-down {
       transform: rotate(180deg);
   }
}

.z-mobile-dpad-button {
    background-image: url(../img/key.png);
    height: 82px;
    width: 83px;
    background-repeat: no-repeat;
}

.z-mobile-dpad-spacer {
   background: none;
   border: none;
}

.join-button {
    margin-top: 25%;
    font-family: 'Love Ya Like A Sister', cursive;
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
    padding: 0px 56px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.join-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.join-button:active {
	position:relative;
	top:1px;
}

.no-margin {
    margin-top: 50px;
    margin-bottom: -10px;
}

.rotate {
    padding-top: 50%;
    color: white;
}