// color scheme
$purple: #38115a;
$darkblue: #1e3c6a;
$lightblue: #5ba2cd;
$green: #b2d235;

button.z-mobile-god-button.button-1 {
    background-color: $green;
}

button.z-mobile-god-button.button-2 {
    background-color: $lightblue;
}
button.z-mobile-god-button.button-3 {
    background-color: $darkblue;
}
button.z-mobile-god-button.button-4 {
    background-color: $purple;
}

.z-mobile-landing-header-spacer {
   height: 50px;
}

.z-mobile-landing-failure {
   background: red;
}

.z-mobile-container {
   overflow: hidden;
   .transition-wrapper {
      height: 100%;
   }
}

.z-mobile-landing-page {
   transition: transform 0.5s, opacity 0.5s;
   height: 100%;
   width: 100%;

   &.transition-appear {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
   }

   &.transition-appear.transition-appear-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
   &.transition-leave {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }

   &.transition-leave.transition-leave-active {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
   }
}

.z-mobile-controller-page {
   transition: transform 0.5s, opacity 0.5s;
   height: 100%;
   width: 100%;

   &.transition-appear {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
   }

   &.transition-appear.transition-appear-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
   &.transition-leave {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }

   &.transition-leave.transition-leave-active {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
   }

}


.z-mobile-landing-form-container {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.z-mobile-landing-form {
   width: 300px;
   height: 300px;

   .top {
      margin-top: 0px;
   }
}

.z-mobile-landing-form input:first-of-type {
   width: 96%;
   border: 3px solid;
   font-size: 1.25em;
   padding: 5px 0;
   text-align: center;
   text-transform: uppercase;
   font-family: 'Love Ya Like A Sister', cursive;
   letter-spacing: 5px;
   background-color: #FFFFFF;
   border-radius: 5px;
   -webkit-box-shadow: 8px 10px 23px -12px rgba(0,0,0,0.75);
   -moz-box-shadow: 8px 10px 23px -12px rgba(0,0,0,0.75);
   box-shadow: 8px 10px 23px -12px rgba(0,0,0,0.75);

}

$char-w: 1ch;
$gap: .5*$char-w;
$n-char: 6;
$in-w: $n-char*($char-w + $gap);

input.z-mobile-landing-form-code {    
   border: none;
   width: $in-w;
   background: repeating-linear-gradient(90deg, 
      white 0, white $char-w, 
      transparent 0, transparent $char-w + $gap) 
      0 100%/ #{$in-w - $gap} 2px no-repeat;
   font: 5ch droid sans mono, consolas, monospace;
   letter-spacing: $gap;
   font-size: 40px;
   text-transform: uppercase;
   transform: translateX($gap / 2);
   &:focus {
      outline: none;
      color: white;
   }
}

.z-mobile-controller {
   display: flex;
   flex-direction: row;
}

.z-mobile-controller-player {
    height: 100%;
    width: 50%;
    padding: 4% 0;
}

.z-mobile-controller-controller {
   height: 100%;
   width: 65%;
}

.z-mobile-dpad {
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.z-mobile-dpad-col {
   display: flex;
   flex-direction: column;
   justify-content: center;

   .z-mobile-dpad-right {
       transform: rotate(90deg);
   }
   
   .z-mobile-dpad-left {
       transform: rotate(-90deg);
   }
   .z-mobile-dpad-down {
       transform: rotate(180deg);
   }
}

.z-mobile-dpad-button {
    background-image: url(../img/key.png);
    height: 82px;
    width: 83px;
    background-repeat: no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.z-mobile-dpad-spacer {
   background: none;
   border: none;
}

.join-button {
    border: none;
    margin-top: 35px;
    font-family: 'Love Ya Like A Sister', cursive;
	box-shadow: 8px 10px 23px -12px rgba(0, 0, 0, 0.75);
	// background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	// background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	// background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	// background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	// background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: linear-gradient(to bottom, lightblue 5%, #5ba2cd 100%);	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
    padding: 0px 56px;
	text-decoration:none;
    text-shadow: 0px 1px 0px darkslategrey;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.join-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.join-button:active {
	position:relative;
	top:1px;
}

.rotate {
    padding-top: 50%;
    color: white;
}

img.players-bean {
    width: 200px;
}

.players-name {
    color: black;
    background: white;
    font-size: 1.5em;
    letter-spacing: 4px;
    border: 3px solid;
    border-radius: 10px;
    padding: 0 10px;
    width: 220px;
    margin: auto;
    margin-bottom: 28px;
}

#oval {
    width: 26%;
    height: 81px;
    background: black;
    border-radius: 100px / 50px;
    opacity: 0.15;
    margin-left: 9%;
    margin-top: -10%;
    position: fixed;
    z-index: -9999;
  }

  .god {
    margin-left: 11%!important;
}

.z-mobile-god-buttons {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    width: 200px;
    justify-content: space-evenly;
    margin-top: auto;
}

.z-mobile-god-buttons .z-mobile-god-button {
    border: none;
    border-radius: 10px;  
    font-family: 'Love Ya Like A Sister', cursive;
    text-transform: uppercase;
    font-size: 1em;
    padding: 10px;
    color: white;
    letter-spacing: 2px;
}



.z-mobile-god-player {
    width: 50%;

    img.players-bean {
        width: 115px;
    }

    .players-name {
        font-size:1em;
        margin-top: 20px;
    }
}