.z-mobile-landing-header-spacer {
   height: 50px;
}

.z-mobile-landing-failure {
   background: red;
}

.z-mobile-landing-page {
   transition: transform 0.5s, opacity 0.5s;

   &.transition-appear {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
   }

   &.transition-appear.transition-appear-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
   &.transition-leave {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }

   &.transition-leave.transition-leave-active {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
   }
}

.z-mobile-controller {
   transition: transform 0.5s, opacity 0.5s;

   &.transition-appear {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
   }

   &.transition-appear.transition-appear-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
   &.transition-leave {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }

   &.transition-leave.transition-leave-active {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
   }
}

.z-mobile-controller {
   display: flex;
   flex-direction: row;
}

.z-mobile-controller-player {
   height: 100%;
   width: 35%;
}

.z-mobile-controller-controller {
   height: 100%;
   width: 65%;
}

.z-mobile-dpad {
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.z-mobile-dpad-col {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.z-mobile-dpad-button {
   background: green;
   border: 2px black solid;
   height: 100px;
   width: 100px;
}

.z-mobile-dpad-spacer {
   background: white;
   border: none;
}